@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus {
	outline: 0 !important;
}

body {
	font-family: 'Acme', sans-serif;
	background: #1e1e1e;
	font-size: 16px;
	font-weight: normal;
}

.wrapper {
	max-width: 1366px;
	margin: 0 auto;
}

h3 {
	@apply text-6xl;
}

h5 {
	@apply text-3xl;
}

@media (max-width: 1366px) {
	.wrapper {
		@apply mx-10;
	}
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.levitate-react {
		animation: logo-spin infinite 10s linear;
	}
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	25% {
		background-position: 100% 0;
	}
	50% {
		background-position: 100% 100%;
	}
	75% {
		background-position: 0 100%;
	}
	100% {
		background-position: 0 0;
	}
}

.gradient-static {
	background-size: 300% 100%;
	transition: all 0.4s ease-in-out;
}
.gradient-static:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
	background-image: linear-gradient(
		to right,
		#25aae1,
		#40e495,
		#30dd8a,
		#2bb673
	);
}

.gradient {
	animation: animate infinite 5s ease;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-clip: text;
	color: transparent;
	background-size: 400% 400%;
}

.cosmos {
	background-image: url('../public/images/1674779416.png');
	/* mix-blend-mode: color;	 */
	background-position: center center;
	background-size: cover;
}

/* .countdown {
	background-image: url('../public/2c52a95513f9a6d6bb4ed6547cd813d4.jpeg');
	mix-blend-mode: difference;
	background-position: center center;
	background-size: cover;
} */

.countdown-form > div {
	@apply p-10 w-44 opacity-50;
}

.countdown-form > div > p {
	@apply text-6xl;
}

.levitate-react {
	animation: bounce1 3s infinite linear, logo-spin 10s infinite linear;
}

.levitate-javascript {
	animation: bounce2 3s infinite linear;
}

@keyframes bounce1 {
	0% {
		transform: translateY(-40px);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(-40px);
	}
}

@keyframes bounce2 {
	0% {
		transform: translateY(20px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(20px);
	}
}

.main-color {
	color: #646cff;
}

.vice-city {
	background: #3494e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.frost {
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#004e92,
		#000428
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#004e92,
		#000428
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
	background: #159957; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#155799,
		#159957
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#155799,
		#159957
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-clip: text;
	color: transparent;
	height: 100%;
}

.crystal-clear {
	background: #159957; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#155799,
		#159957
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#155799,
		#159957
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transform50 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.show-modal {
	opacity: 1;
	top: 5%;
	transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1),
		top 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.7px);
	-webkit-backdrop-filter: blur(5.7px);
}

.active-tab {
	transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active-pane {
	transition: opacity 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active-menu {
	@apply -translate-x-72 transition-all xl:-translate-x-0;
}

.info-me > div {
	@apply mb-6 text-xl;
}

.a-box h5 {
	@apply mb-5 text-green-300;
}

.a-box > div {
	@apply border-blue-400 border p-10 rounded-3xl text-xl shadow-md shadow-blue-400 hover:bg-gray-700 hover:transition-all;
}

section:nth-child(2n + 1):not(.billboard) {
	background-color: #212121;
}

.social-hover a {
	@apply hover:scale-90 transition-all;
}

.carousel div {
	transition: transform 400ms ease;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.carousel div:hover {
	transform: translateY(-10px);
}

.carousel {
	padding: 40px;
}

.tooltip {
	position: relative;
}

.tip {
	background-color: #004e92;
	color: white;
	visibility: visible;
	opacity: 1;
	border-radius: 7px;
	width: auto;
	padding: 5px 10px;
	text-align: center;
	position: absolute;
	bottom: 130%;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 250ms ease;
}

.tip::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -4px;
	border-width: 4px;
	border-color: transparent;
	border-style: dotted;
	border-top-color: #004e92;
}
